body {
    margin: 0;
    font-family: Arial, sans-serif;
  }

  .section {
    height: 33.33vh; 
    width: 100%; 
  }

  .section1 {
    background-color: rgb(48,48,51); 
    height: 76.33vh; 
  }

  .section2 {
    background-color: rgb(255, 255, 255);
    height: 250.33vh; 
  }

  .section3 {
    background-color: rgb(48,48,51); 
    height: 76.33vh; 
  }
  .stop{
    padding-left: 40%;
  }
  .real{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 420%;
    color: #ffffff;
    padding-left: 15%;
    transform: translateY(-600%);
  }
  .relax{
    font-size: 820%;
    font-family: Copperplate, Papyrus, fantasy;
    transform: translateY(-350%);
    padding-left: 15%;
    color:#ffffff
  }
  .content {
    padding-left: 15%;
    transform: translateY(-450%);
    color: #ffffff;
    font-size: 400%;
    width: 35%;
    background: rgb(103,22,30);}
    .ded{
        font-size: 420%;
        color:103,22,30
        font-family: Arial, Helvetica, sans-serif;
        transform: translateY(-3410%);
        padding-left: 42%;
    }
    .sneg{
    transform: translateY(-45%);
    padding-left: 5%;

    }
    .nebes{
      transform: translateY(-45%);
      padding-left: 5%;
    }
    .lol{
      transform: translateY(-45%);
      padding-left: 5%; 
    }
    .fire{
      transform: translateY(-45%);
      padding-left: 5%; 
    }
    .nandpis{
      transform: translateY(-45%);
      padding-left: 5%;
    }
    .aidun{
      transform: translateY(-240%);
      padding-left: 8%;
      font-size: 200%;
    }
    .ara{
      transform: translateY(-340%);
      padding-left: 25%;
      font-size: 200%;
    }
    .alla{
      transform: translateY(-440%);
      padding-left: 45%;
      font-size: 200%;
    }
    .alma{
      transform: translateY(-540%);
      padding-left: 63%;
      font-size: 200%;
    }
    .almar{
      transform: translateY(-640%);
      padding-left: 83%;
      font-size: 200%;
    }
    .mem{
      font-size: 420%;
      color:103,22,30
      font-family: Arial, Helvetica, sans-serif;
      transform: translateY(-2510%);
      padding-left: 42%;
    }
    .manga{
      font-size: 420%;
      color:103,22,30
      font-family: Arial, Helvetica, sans-serif;
      transform: translateY(-2210%);
      padding-left: 42%;
    }
  .qq{
   font-size: 200%;
   padding-left: 60%;
   transform: translateY(-2610%);
   color: #ffffff;
  }
  .gruz{
    transform: translateY(70%);
padding-left: 10%;
  }
  .grgr{
    transform: translateY(100%);
    padding-left: 20%;
  }
  .lolo{
    transform: translateY(7%);
    padding-left: 75%;
  }
 .amam{
  font-size: 100%;
  padding-left: 10%;
  color: #ffffff;
 }
 .lorer{
  padding-left: 40%;
  color: #ffffff;
  transform: translateY(-90%);
 }
 .sas{
  padding-left: 75%;
  color: #ffffff;
  transform: translateY(-170%);
 }